body {
  font-family: sans-serif;
  background-color: lightyellow;
}

h1 {
  text-align: center;
  color: darkblue;
  font-size: 2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

label {
  margin: 5px;
}

input[type="number"] {
  width: 80px;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: skyblue;
}

#result {
  text-align: center;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@prefers color-scheme: dark {
  body {
    font-family: sans-serif;
    background-color: black;
    color: white;
  }

  h1 {
    text-align: center;
    color: lightblue;
    font-size: 2em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  label {
    margin: 5px;
    color: lightgray;
  }

  input[type="number"] {
    width: 80px;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: skyblue;
  }

  #result {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
  }

}

@media screen and (min-width: 600px) {
  form {
    flex-direction: row;
  }

  label {
    width: 150px;
    text-align: right;
  }

  input[type="number"] {
    width: 50px;
  }
}