body {
  background-color: lightyellow;
  font-family: Georgia, sans-serif;
}

h1 {
  color: darkblue;
  font-size: 2em;
  text-align: center;
}

p {
  margin: 1rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  margin: 1.3rem;
}

label {
  margin: .3rem;
  transition: color 0.2s ease-in-out;
}

input[type="number"] {
  border: 1px solid gray;
  border-radius: .3rem;
  margin: .35rem;
  padding: .35rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  width: 80px;
}

input[type="number"]:focus {
  outline: 1px solid blue;
}

input[type="number"]:invalid {
  color: red;
}

button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
}

button:hover {
  background-color: skyblue;
}

button:active {
  background-color: deepskyblue;
  transform: translateY(2px);
}

#result {
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  h1 {
    color: lightblue;
  }

  form {
    background-color: rgba(255, 255, 255, 0.1);
  }

  label {
    color: lightgray;
  }

  input[type="number"] {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }

  button {
    background-color: lightblue;
  }

  button:hover {
    background-color: skyblue;
  }

  #result {
    background-color: rgba(255, 255, 255, 0.1);
  }

}

@media screen and (min-width: 600px) {
  form {
    flex-direction: row;
  }

  label {
    text-align: right;
    width: 150px;
  }

  input[type="number"] {
    width: 50px;
  }
}